﻿@using FileStorage.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TigerEyeFS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TigerEyeFS", "Index", "Folder", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Folder")</li>
                    <li class="pt-2" style="padding-top: 8px;">
                    @using (Html.BeginForm("Search","Folder", FormMethod.Post,
                        new {@class = "form-inline"})) { 
                        <input class="form-control mr-sm-2" name="Query" type="search" placeholder="Search" aria-label="Search">
                        <span class="text-success">by</span>
                            <select class="form-control" name="FilterType">
                                <option value="Any">Any</option>
                                <option value="FileID">FileID</option>
                                <option value="FileName">FileName</option>
                                <option value="FolderName">FolderName</option>
                            </select>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    }
                    </li>
                </ul>


            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AaronGriffin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/Scripts/Muuri.min.js")
    @Scripts.Render("~/Scripts/Site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
