﻿@using FileStorage.Models
@using File = FileStorage.Models.File

@{
    ViewBag.Title = "Index";

    var Folders = (List<Folder>)ViewData["Folders"];
    var Files = (List<File>)ViewData["Files"];

}

<h2>Index</h2>

@Html.ActionLink("Upload New File", "UploadFile", new { FolderID = ViewData["FolderID"] }) | @Html.ActionLink("Create New Folder", "NewFolder", new {FolderID = ViewData["FolderID"]})


<div class="grid">
    @foreach (Folder item in Folders)
    {

        <div class="item">
            <div class="item-content folder">
                <i class="fas fa-folder"></i><br />
                @Html.DisplayFor(modelItem => item.FolderName)<br />
                @Html.ActionLink("Open", "Open", new { FolderID = item.FolderID })

            </div>
        </div>
    }





    @foreach (File item in Files)
    {
        <div class="item">
            <div class="item-content file">
                <i class="fas fa-file"></i><br/>
                @Html.DisplayFor(modelItem => item.FileName)<br/>
                @Html.ActionLink("Download", "ViewFile", new {FileID=item.FileID})

            </div>
        </div>

    }
</div>



