﻿@using FileStorage.Models
@using File = FileStorage.Models.File

@{
    string FolderName = (string) ViewData["FolderName"];
    string FolderPath = (string)ViewData["FolderPath"];
    ViewBag.Title = FolderName;

    var Folders = (List<Folder>)ViewData["Folders"];
    var Files = (List<File>)ViewData["Files"];

}

<h2>@FolderPath</h2>

@Html.ActionLink("Upload New File", "UploadFile", new { id = ViewData["FolderID"] }) | @Html.ActionLink("Create New Folder", "NewFolder", new { id = ViewData["FolderID"] })


<div class="grid">
    @foreach (Folder item in Folders)
    {

        <div class="item">
            <div class="item-content folder">
                <i class="fas fa-folder"></i><br />
                @Html.DisplayFor(modelItem => item.FolderName)<br />
                @Html.ActionLink("Open Folder", "Open", new { FolderID = item.FolderID })

            </div>
        </div>
    }





    @foreach (File item in Files)
    {
        <div class="item">
            <div class="item-content file">
                <i class="fas fa-file"></i><br />
                @Html.DisplayFor(modelItem => item.FileName)<br />
                @Html.ActionLink("Download", "ViewFile", new { FileID = item.FileID })

            </div>
        </div>

    }
    @if (Folders.Count == 0 && Files.Count == 0)
    {
        @Html.Display("Nothing To Show...")
    }
</div>



