﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




/* Muuri Settings */

.grid {
    position: relative;
}
.item {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 5px;
    z-index: 1;
    border-radius: 5px;
    cursor: pointer;
}
.item:hover{
    background: rgba(113, 113, 113, 0.73);
}

.selected {
    background: rgba(32, 163, 158, 0.73) !important;
}

.item.muuri-item-dragging {
    z-index: 3;
}
.item.muuri-item-releasing {
    z-index: 2;
}
.item.muuri-item-hidden {
    z-index: 0;
}
.item-content {
    position: relative;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.item-content i {
    font-size: 60px;
}
